@*Parcel Index*@
@{
    ViewBag.Title = "Parcel";
}

<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<link href="/bower_components/select2/css/select2.min.css" rel="stylesheet" type="text/css">
<script src="/bower_components/select2/js/select2.min.js"></script>
<!-- Summernote -->
<link href="/bower_components/summernote/css/summernote.css" rel="stylesheet" type="text/css">
<script src="/bower_components/summernote/js/summernote.min.js"></script>
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<script>
    $(document).ready(function () {

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        }

        $.get('http://localhost:56892/Farm/GetFarmsById?farmId=' + $.urlParam('farmId'), function (data) {
            $("#ParcelHeader").text("Parcel - "+ data.Name);
        });

        $.get('http://localhost:56892/Parcel/GetAllParcelByFarmId?farmId=' + $.urlParam('farmId'), function (data) {
            setDataTable(data);
        });

        $('#myDT tbody').on('click', '.glyphicon-trash', function () {
            $("#myDeleteModal").modal();
            var RowHTML = $(this).parents('tr');
            $("#hiddenModalInput").val($DTable.row(RowHTML).index());
        });

        $('.glyphicon-folder-open').on('click', function () {
            window.location.replace("http://localhost:56892/Parcel/Create?farmId=" + $.urlParam('farmId'));
        }); 

        $('#myDT tbody').on('click', '.glyphicon-edit', function () { 
            var dtIndex = $DTable.row($(this).parents('tr')).index();
            var data = $DTable.row(dtIndex).data();
            window.location.replace("http://localhost:56892/Parcel/Edit?parcelId=" + data.Id); 
        });

        $('#myDT tbody').on('click', '.glyphicon-trash', function () {
            $("#myDeleteModal").modal();
            var RowHTML = $(this).parents('tr');
            $("#hiddenModalInput").val($DTable.row(RowHTML).index());
        });

        $('#deleteBtn').on('click', function () {
            var RowHTML = $("#hiddenModalInput").val();

            $.ajax({
                type: "DELETE",
                url: "http://localhost:56892/Parcel/RemoveParcel",
                data: JSON.stringify({
                    parcelId: $DTable.row(RowHTML).data().Id
                }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data) {
                        $DTable.row(RowHTML).remove().draw();
                    } else {
                        alert();
                    }
                },
                error: function () {
                    alert();
                }
            });
        });

        $('#myDT tbody').on('click', '.glyphicon-eye-open', function () {
            var dtindex = $DTable.row($(this).parents('tr')).index();
            var rowData = $DTable.row(dtindex).data();
            window.location.replace("http://localhost:56892/Plant?parcelId=" + rowData.Id);
        });


    });

    function edit() {
        $.ajax({
            type: "PUT",
            url: "http://localhost:56892/Farm/UpdateParcel",
            data: JSON.stringify({
                Id: $("#Id").text(),
                Name: $("#SizeInput").val(),
                Description: $("#DescriptionInput").val()
            }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (Data) {
                if (Data) {

                    var dtIndex = $("#hiddenModalInput").val();
                    console.log(dtIndex);
                    $DTable.row(dtIndex).data(Data).draw();
                } else {
                }
            },
            error: function () {
            }
        });
    }

    function setDataTable(Data) {
        $DTable = $('#myDT').DataTable({
            "processing": true,
            "data": Data,
            "columns": [
                { "defaultContent": "<span class='glyphicon glyphicon-plus-sign'></span>" },
                { "data": "Id" },
                { "data": "Size" },
                { "data": "Description" },
                { "defaultContent": "<span class=\"glyphicon glyphicon-edit\"></span> | <span class=\"glyphicon glyphicon-trash data-toggle=\"modal\" data-target=\"#myModal\"></span> |<span class='glyphicon glyphicon-eye-open''></span>" }
            ],
            responsive: true,
            "columnDefs": [
                {
                    "targets": [0, 4],
                    "orderable": false
                }
            ]
        });
    }


</script>

<h2 id="ParcelHeader"></h2> 

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Parcel|
                <span class="glyphicon glyphicon-folder-open" id="addParcel"/>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="myDT">
                    <thead>
                        <tr>
                            <th>
                                <label>Show More</label>
                            </th>
                            <th>
                                <label>Id</label>
                            </th>
                            <th>
                                <label>Size</label>
                            </th>
                            <th>
                                <label>Description</label>
                            </th>
                            <th>
                                <label>Buttons</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" id="myDeleteModal" role="checkbox">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Sure you want to delete?</p>
                    <input type="text" class="form-control" style="display:none" id="hiddenModalInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="deleteBtn" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-default" id="cancelBtn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
