
@{
    ViewBag.Title = "Parcel";
}

<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<link href="/bower_components/select2/css/select2.min.css" rel="stylesheet" type="text/css">
<script src="/bower_components/select2/js/select2.min.js"></script>
<!-- Summernote -->
<link href="/bower_components/summernote/css/summernote.css" rel="stylesheet" type="text/css">
<script src="/bower_components/summernote/js/summernote.min.js"></script>
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<script>
    $(document).ready(function () {

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        }

        $.get('http://localhost:56892/Farm/GetFarmsById?farmId=' + $.urlParam('farmId'), function (data) {
            $("#title").text($("#title").text() + " - " + data.Name);
        });

        $.get('http://localhost:56892/Parcel/GetAllParcelByFarmId?farmId=' + $.urlParam('farmId'), function (data) {
            setDTWithData(data);
        });

        $('#myDT tbody').on('click', '.glyphicon-trash', function () {
            $("#myDeleteModal").modal();
            var RowHTML = $(this).parents('tr');
            $("#hiddenModalInput").val($DTable.row(RowHTML).index());
        });

        $(document).on('click', '.glyphicon-folder-open', function () {
            $("#myModal").modal();
        });

        ('#myDT tbody').on('click', '.glyphicon-edit', function () {
            $("#myModal").modal();
            $("#Id").parent().show();
            $('#btnEdit').css('display', 'inline');
            $('#btnAdd').css('display', 'none');
            var RowHTML = $(this).parents('tr');
            $("#hiddenModalInput").val($DTable.row(RowHTML).index());
            var Data = $DTable.row(RowHTML).data();
            $("#Id").text(Data.Id);
            $("#SizeInput").val(Data.Name);
            $("#DescriptionInput").val(Data.Description);
        });

    });


    function setDataTable(Data) {
        $DTable = $('#myDT').DataTable({
            "processing": true,
            "data": Data,
            "columns": [
                { "defaultContent": "<span class='glyphicon glyphicon-minus-sign showChild'></span>" },
                { "data": "Id" },
                { "data": "Size" },
                { "data": "Description" },
                { "defaultContent": "<span class=\"glyphicon glyphicon-edit\"></span> | <span class=\"glyphicon glyphicon-trash data-toggle=\"modal\" data-target=\"#myModal\"></span> |<span class='glyphicon glyphicon-eye-open''></span>" }
            ],
            responsive: true,
            "columnDefs": [
                {
                    "targets": [0, 4],
                    "orderable": false
                }
            ]
        });
    }


    function ModalReset() {
        $('#btnEdit').css('display', 'none');
        $('#btnAdd').css('display', 'inline');
        $("#myModalForm div input[type='text']").val("");
        $("#myModalForm div input[type='text']").each(function () {
            $(this).parent("div").removeClass("has-error");
        });
        $("#Id").parent().hide();
    }
</script>

<h2>Parcel</h2> 

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Parcel|
                <span class="glyphicon glyphicon-folder-open" id="addParcel" data-toggle="modal" data-target="#exampleModal" />
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="myDT">
                    <thead>
                        <tr>
                            @*<th>needed or not?

                            </th>*@
                            <th>
                                <label>Id</label>
                            </th>
                            <th>
                                <label>Size</label>
                            </th>
                            <th>
                                <label>Description</label>
                            </th>
                            <th>
                                <label>Buttons</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalHeadAdd">Farm</h4>
            </div>
            <div id="myModalBody" class="modal-body">
                <form id="myModalForm">
                    <div class="form-group">
                        <label class="control-label">Id:</label>
                        <label id="Id"></label>
                    </div>
                    <div class="form-group">
                        <label>Size:</label>
                        <input type="text" class="form-control" id="SizeInput">
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" class="form-control" id="DescriptionInput">
                    </div>

                    <input type="text" class="form-control" style="display:none" id="hiddenInput">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnAdd" class="btn btn-primary" onclick="add()" data-dismiss="modal">Add Parcel</button>
                <button type="button" id="btnEdit" class="btn btn-primary" style="display:none" onclick="edit()" data-dismiss="modal">Edit</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" id="myDeleteModal" role="checkbox">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Sure you want to delete?</p>
                    <input type="text" class="form-control" style="display:none" id="hiddenModalInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="deleteBtn" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-default" id="cancelBtn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
