
@{
    ViewBag.Title = "Farms";
}

<!-- MetisMenu CSS -->
<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- DataTables CSS -->
<link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- DataTables JavaScript -->
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<!-- Summernote -->
<link href="/bower_components/summernote/css/summernote.css" rel="stylesheet" type="text/css">
<script src="/bower_components/summernote/js/summernote.min.js"></script>

<style>
    .Error {
        border: solid 1px red;
    }
</style>

<script>

    $(document).ready(function () {
        $summernote = $(".summernote").summernote({
            height: 150,   //set editable area's height
            codemirror: { // codemirror options
                theme: 'monokai'
            }
        });

        //<--Event jQuery -->

        $("#myModal").on('hidden.bs.modal', function () {
            $("#HiddenIndexDelete").val("");
            $("#indexId").val("");
            $("#modalName").val("");
            $summernote.code("");
            $("#Add").css("display", "inline");
            $("#edit").css("display", "none");
            $("#HiddenId").css("display", "none");
            $("#titleModel").text("Add new Row to table");
            $(".HiddenIndex, input[type='date]'").removeClass("Error");
            $("#myModal p[Class='alert alert-danger']").remove();
        });

        $("#DeleteModal").on('hidden.bs.modal', function () {
            $("#HiddenIndexDelete").val("");
            $("#indexId").val("");
        });


        $("#yesDelete").click(function () {
            $.ajax({
                type: "DELETE",
                url: "http://localhost:56892/Farm/RemoveFarm",
                data: JSON.stringify({ farmId: $("#HiddenIndexDelete").val() }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data) {
                        $table.row($("#indexId").val()).remove().draw();
                    }
                    else {
                        ValidateMyAlert("Class='alert alert-warning'", ' Could not delete ', 'Warning', "#alertContainer");
                    }
                },
                error: function () {
                    ValidateMyAlert("Class='alert alert-danger'", 'error', 'Danger', "#alertContainer");
                }
            });
            $("#closeDeleteModal").click();
        })

        $.ajax({
            type: "GET",
            url: "http://localhost:56892/Farm/GetAllFarms",
            data: "",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //<!--DataTables  Initialization -- >
                $table = $('#myDT').DataTable({
                    responsive: true,
                    "order": [[1, "asc"]],
                    "data": data,
                    "columns": [
                        { "defaultContent": "<td> <button type=\"button\" class=\"glyphicon glyphicon-plus\" onclick = \"ShowChild(this)\"></button> </td>" },
                        { "data": "Id" },
                        { "data": "Name" },
                        { "data": "Description" },
                        {
                            "defaultContent": "<button type=\"button\" data-toggle='modal' data-target='#DeleteModal' class=\"glyphicon glyphicon-trash\" onclick = \"removeRow(this)\"></button>" +
                            "<button type=\"button\" data-toggle='modal' data-target='#myModal' onclick =\"editRow(this)\" class = \"glyphicon glyphicon-pencil\"></button>" +
                            "<button type=\"button\" onclick =\"windowParcel(this)\" class = \"glyphicon glyphicon-eye-open\"> </button>"
                        }
                    ],
                    "columnDefs": [
                        { "targets": [0, 4], "orderable": false }
                    ]
                });

            },
            error: function () {
                ValidateMyAlert("Class='alert alert-danger'", 'error', 'Danger', "#alertContainer");
            }
        });
    })

    function AddFarm() {
        if (validateMyModal()) {
            console.log($("#modalName").val() + $summernote.code());
            $.ajax({
                type: "POST",
                url: "http://localhost:56892/Farm/AddFarm",
                data: JSON.stringify({
                    Name: $("#modalName").val(),
                    Description: $summernote.code()
                }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data) {
                        var obj = {
                            Id: data.Id,
                            Name: data.Name,
                            Description: data.Description
                        };
                        $table.row.add(obj).draw();
                        $("#closeMyModal").click();
                    }
                    else { ValidateMyAlert("Class='alert alert-warning'", 'Could not be added', 'Warning', "#alertContainer"); }  
                },
                error: function () {
                    ValidateMyAlert("Class='alert alert-danger'", 'error', 'Danger', "#alertContainer");
                }
            });
        }
    }

    function removeRow(button) {
        var actualRow = $(button).parents("tr");
        var rowIndex = $table.row(actualRow).index();
        var row = $table.row(rowIndex).data();
        $("#HiddenIndexDelete").val(row.Id);
        $("#indexId").val(rowIndex);
    }

    function editRow(button) {
        $("#Add").css("display", "none");
        $("#edit").css("display", "inline");
        $("#HiddenId").css("display", "inline");
        $("#titleModel").text("Edit Row");
        var ActualRow = $(button).parents("tr");
        var rowIndex = $table.row(ActualRow).index();
        var row = $table.row(rowIndex).data();
        $("#FarmId").val(row.Id);
        $("#modalName").val(row.Name);
        $summernote.code(row.Description);
        $("#indexId").val(rowIndex);
    }
    function editFarmBotton() {
        if (validateMyModal()) {
            $.ajax({
                type: "PUT",
                url: " http://localhost:56892/Farm/UpdateFarm",
                data: JSON.stringify({
                    Id: $("#FarmId").val(),
                    Name: $("#modalName").val(),
                    Description: $summernote.code()
                }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data) {
                        var obj = {
                            Id: data.Id,
                            Name: data.Name,
                            Description: data.Description
                        };
                        $table.row($("#indexId").val()).data(obj).draw();
                        $("#closeMyModal").click();
                    }
                    else {
                        ValidateMyAlert("Class='alert alert-warning'", 'Something is wrong', 'Warning', "#alertContainer");
                    }
                }
            });
        }
    }

    function ShowChild(button) {
        var tr = $(button).closest("tr");
        var actualRow = $table.row(tr);
        var rowIndex = $table.row(actualRow).index();
        var row = $table.row(rowIndex).data();

        if (actualRow.child.isShown()) {
            // This row is already open - close it
            actualRow.child.hide();
            tr.removeClass('shown');
            changeOfClasses(button, "glyphicon glyphicon-plus", "glyphicon glyphicon-minus");
        }
        else {
            $.ajaxSetup({ async: false });
            var Trs = "";
            $.ajax({
                type: "GET",
                url: "http://localhost:56892/Parcel/GetAllParcelByFarmId",
                data: { farmId: row.Id },
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $.each(data, function () {
                        var description = this.Description;
                        $.ajax({
                            type: "GET",
                            url: "http://localhost:56892/Plant/GetAllPlantsByParcelId",
                            data: { parcelId: this.Id },
                            dataType: "json",
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                Trs += "<tr>" +
                                    "<td>" + description + "</td>" +
                                    "<td>" + data.length + "</td>" +
                                    "</tr>"
                            }
                        });
                    });
                },
                error: function () {
                    ValidateMyAlert("Class='alert alert-warning'", ' no se pudo eliminar :( ', 'Warning');
                }
            });
            actualRow.child(format(Trs)).show();
            tr.addClass('shown');
            changeOfClasses(button, "glyphicon glyphicon-minus", "glyphicon glyphicon-plus");
        }
    }

    function format(Trs) {
        if (Trs === "") {
            Trs = "<p Class='alert alert-danger'> <strong>¡¡</strong> There is not data </p >";
            return Trs;
        }
        else{
        return "<table>" +
            "<thead>" +
            "<tr>" +
            "<th>  Parcel </th >" +
            "<th>Plant Count </th >" +
            "</tr>" +
            "</thead>" +
            "<tbody>" +
            Trs +
            "</tbody>" +
                "</table>";
            }
    }

    function windowParcel(button) {
        console.log("asd");
        var actualRow = $(button).parents("tr");
        var rowIndex = $table.row(actualRow).index();
        var row = $table.row(rowIndex).data();
        window.location.replace('http://localhost:56892/Parcel?farmId=' + row.Id);
    }

    //Validations
    function changeOfClasses(Idelement, classToAdd, classToRemove) {
        $(Idelement).removeClass(classToRemove).addClass(classToAdd);
    }

    function ValidateMyAlert(pClass, pString, tMessege, insertSide) {
        if (!$("p[" + pClass + "]").length) {
            $(insertSide).prepend("<p " + pClass + "><strong>" + tMessege + "</strong> " + pString + " </p>");
        }
        else {
            $("p[" + pClass + "]").remove();
            $(insertSide).prepend("<p " + pClass + "><strong>" + tMessege + "</strong> " + pString + " </p>");
        }
    }

    function validateMyModal() {
        var cellEmty = true;
        if ($(".HiddenIndex").val().trim() === "") {
            $(".HiddenIndex").addClass("Error");
            ValidateMyAlert("Class='alert alert-danger'", 'name is Required', 'Warning', "#myModal");
            cellEmty = false;
        }
        else { $(".HiddenIndex").removeClass("Error"); }

        if ($summernote.code() ==="" || $summernote.code() ==="<p><br></p>") {
            ValidateMyAlert("Class='alert alert-danger'", 'Description is Required', 'Warning', "#myModal");
            cellEmty = false;
        }

        return cellEmty;
    }


</script>

<h2>Farms</h2>

<div id="alertContainer"> </div>

<div class="panel-heading">
    DataTable Advanced Table |
    <button type="button" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal"></button>
</div>
<table id="myDT" class="table">
    <thead>
        <tr>
            <th>
                <label>Show</label>
            </th>
            <th>
                <label>Id</label>
            </th>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Description</label>
            </th>
            <th>
                <label>Buttons</label>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="titleModel">Add new Row to table</h4>
            </div>

            <div class="modal-body">

                <div style="display:none" id="HiddenId">
                    <label for="qwe"> Id</label><br>
                    <input type="text" class=" form-control HiddenIndexx" id="FarmId" disabled> </input><br>
                </div>
                <label for="usr">Name:</label><br>
                <input type="text" class="form-control HiddenIndex" id="modalName"> </input><br>
                <label for="asd">Description:</label><br>
                <textarea id="summernoteId " class="summernote"></textarea><br>
                <input type="text" class=" form-control HiddenIndexx" style="display:none" id="indexId"> </input><br>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeMyModal">Close</button>
                    <button type="button" class="btn btn-default" id="Add" onclick="AddFarm()">Add</button>
                    <button type="button" class="btn btn-default" id="edit" onclick="editFarmBotton()" style="display:none">Edit</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titleModelDelete">Delete</h4>
            </div>
            <div id="rowModalBody" class="modal-body">
                <label for="usr">Are you sure you want to delete a row</label><br>
                <button type="button" class="btn btn-default" id="yesDelete">yes</button>
                <button type="button" class="btn btn-default" id="noDelete" data-dismiss="modal">No</button>
                <input type="text" class="HiddenIndexx" id="HiddenIndexDelete" style="display:none"> </input>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeDeleteModal">Close</button>
            </div>
        </div>
    </div>
</div>
